# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=store2home
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

# pgAdmin
PGADMIN_EMAIL=admin@store2home.com
PGADMIN_PASSWORD=your_pgadmin_password

# Flask
FLASK_ENV=development
FLASK_SECRET_KEY=your_secret_key
DATABASE_URL=postgresql://your_username:your_password@postgres:5432/store2home

# React
REACT_APP_API_URL=http://localhost:5000
